body {
    margin: 0;
    padding: 0;
    background-image: url('https://www.desktopbackground.org/download/o/2013/11/25/675805_light-blue-wallpapers_2880x1800_h.jpg');
    background-size: cover;
  }
  
.automobile-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    overflow-y: scroll;
  }
  
  table {
    margin: 0 auto;
    width: 80%;
  }

.list-background {
    background-image: url('path/to/your/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }